<div class="centered">
	<%= link_to "Registrera som utvecklare", { :controller => :users, :action => :new }, :class => 'btn-wide btn-darkgrey' %>
	<a href="#" class="btn-wide btn-darkgrey">Dokumentation</a>
</div>